<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313373988915-8vgvl9m49se34fnmfjkkmuq2m0j53amf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313373988915-8vgvl9m49se34fnmfjkkmuq2m0j53amf</string>
	<key>API_KEY</key>
	<string>AIzaSyBObSuJKPFfYcEW271dy0dSgjH7g74-X9k</string>
	<key>GCM_SENDER_ID</key>
	<string>313373988915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-git</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-git.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313373988915:ios:c67ab72876356dd679ab46</string>
</dict>
</plist>